

@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Client/scripts/MovieApp.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/scripts/ListController.js"></script>
    <script src="~/Client/scripts/DetailsController.js"></script>
}
<h1>Movie Store Application</h1>
<div ng-app="MovieApp">
    <ng-view></ng-view>
</div>
